# Groupby연산 실습하기

In [1]:
import pandas as pd

# 실습하기

1. 다음과 같은 데이터프레임을 생성한다.

```
import pandas as pd
import numpy as np 
df = pd.DataFrame(dict(Gender=['M', 'F', 'M', 'F',
                               'F', 'M', 'M', np.nan],
                       State=['NY','IL', 'NY', 'CA',
                              'IL', 'CA', 'CA', 'IL'],
                       col_1=[10,20,30,np.nan,40,50,60,70],
                       col_2=[1,6,2,4,6,9,np.nan,3]))
```

In [ ]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(dict(Gender=['M', 'F', 'M', 'F',
                               'F', 'M', 'M', np.nan],
                       State=['NY','IL', 'NY', 'CA',
                              'IL', 'CA', 'CA', 'IL'],
                       col_1=[10,20,30,np.nan,40,50,60,70],
                       col_2=[1,6,2,4,6,9,np.nan,3]))

df

  Gender State  col_1  col_2
0      M    NY   10.0    1.0
1      F    IL   20.0    6.0
2      M    NY   30.0    2.0
3      F    CA    NaN    4.0
4      F    IL   40.0    6.0
5      M    CA   50.0    9.0
6      M    CA   60.0    NaN
7    NaN    IL   70.0    3.0

2. 데이터프레임에서 'Gender'별 평균을 구하시오.

In [ ]:
df.groupby('Gender').mean()

        col_1     col_2
Gender
F        30.0  5.333333
M        37.5  4.000000

3. 데이터프레임에서 'Gender'별, 'State'별 평균을 구하시오.

In [ ]:
df.groupby(['Gender','State']).mean()

              col_1  col_2
Gender State
F      CA       NaN    4.0
       IL      30.0    6.0
M      CA      55.0    9.0
       NY      20.0    1.5

4. 데이터프레임에서 'Gender'별, 'State'별 각 column의 최소, 최대 값을 구하시오.

In [ ]:
df.groupby(['Gender','State']).agg([min, max])

             col_1       col_2
               min   max   min  max
Gender State
F      CA      NaN   NaN   4.0  4.0
       IL     20.0  40.0   6.0  6.0
M      CA     50.0  60.0   9.0  9.0
       NY     10.0  30.0   1.0  2.0