# 시계열 데이터 처리하기 실습

'../data/stock_px.csv' 에는 2003년 1월에서 2011년 10월 사이의 미국 주식 주가 데이터를 포함하고 있다. 

* date : 날짜
* AAPL : 애플 주가
* MSFT : 마이크로소프트 주가
* XOM : 엑슨모빌 주가
* SPX : S&P 500 지수

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/stock_px.csv', parse_dates=True, index_col=0)
df.head()

            AAPL   MSFT    XOM     SPX
Date
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

### 문제 1.
'AAPL' 애플 주식을 선그래프로 시각화 하시오.( hint. plot 메소드 사용)

### 문제2.
'AAPL' 애플 주식의 2011년 데이터만 선그래프로 시각화하시오.

### 문제3.
'AAPL' 애플 주식의 연도별('A') 평균을 막대그래프로 시각화하시오. (hint. resample 메소드의 사용)

### 문제 4.
'AAPL' 애플 주식의 120일 이동평균선을 선그래프로 시각화 하시오. (hint. rolling 사용)

### 문제5.

'AAPL' 애플 주식의 년도별('A') 시고저종(open, high, low, close)값을 구하시오. (hint. ohlc메서드 사용)